<h1>Listing ratings for <%= @facility.name %> </h1>

<% unless @facility.ratings.empty? %>
<table>
  <tr>
    <th>Rate</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.rate %></td>
    <td> <%= rating.comment %> </td>
    <td><%= link_to 'Show', [@facility, rating] %></td>
    <td><%= link_to 'Edit', edit_facility_rating_path(@facility, rating) %></td>
    <td><%= link_to 'Destroy', [@facility, rating], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% else %>
  <p>Facility "<%= @facility.name %>" has no ratings yet.</p>
<% end -%>

<br />

<%= link_to 'New Rating', new_facility_rating_path(@facility) %>
<%= link_to 'Back', @facility %>
