<p id="notice"><%= notice %></p>

<p>
  <b>Facility:</b>
  <%= @rating.facility_id %>
</p>

<p>
  <b>Rate:</b>
  <%= @rating.rate %>
</p>

<p>
  <b>Comment:</b>
  <%= @rating.comment %>
</p>

<%= link_to 'Edit', edit_facility_rating_path(@facility, @rating) %> |
<%= link_to 'Back', facility_ratings_path(@facility) %>
